
@{
    ViewBag.Title = "_Layout_Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" style="">
    <div id="nav" class="col-md-2" style="padding-left: 0px;">
        
    </div>

    <div id="content" class="col-md-10"></div>
</div>


