
@{
    ViewBag.Title = "_Layout_Mapper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script type="text/javascript">
        function ViewModel(model) {
            var self = this;
            //self.menuItems = ko.observableArray(model);
        }
        $(function () {
            var viewModel = new ViewModel(@BaseExpand.HtmlHelper.HtmlConvert2Json(Model))
            var myviewModel = { actions: @BaseExpand.HtmlHelper.HtmlConvert2Json(Model) };
            ko.applyBindings(myviewModel);
        })
    </script>
}

@Html.Partial("_Navbar_Menu")
<!--<div class="container">-->
<div id="mypage" class="page-main" style="background:#23527C;height:100%;">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Library</a>
        </li>
        <li class="active">Data</li>
    </ol>
    <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
        @RenderBody()
    </div>
</div>