
@{
    ViewBag.Title = "_Layout_Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @RenderSection("scripts", required: false)
    }
<div id="main" style="">
    <div id="nav" class="col-md-2" style="padding-left: 0px;">
        @*Html.Partial("_Navbar_Menu-bakup-0823")*@
        <ul id="ul_nav" class="nav nav-pills nav-stacked navbar-inverse">
            <li>
                <div class="input-group">
                    <input type="text" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-zoom-out"></span>
                        </button>
                    </span>
                </div>
            </li>
            <li data-bind="foreach:actions">
                <a href="#" data-toggle="collapse" data-target="#sub1" data-bind="text:text">
                    &nbsp;<span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul id="sub1" class="nav collapse">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;系统信息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content" class="col-md-10">
        @RenderBody()
    </div>
</div>

