
<nav class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">位置</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        <span class="glyphicon glyphicon-map-marker
"></span>全图 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-screenshot"></span>漫游</a>
                </li>
                <li>
                    <a href="#">西太平洋</a>
                </li>
                </li>
                <li>
                    <a href="#">北印度洋</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-zoom-in"></span>放大</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-zoom-out"></span>缩小</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>
