<div class="" id="content" style="background-color:lightyellow;width:100%;height:50px;">
    <div class="" id="picdes">
        <label><font color="black" size="5"><b>图片说明</b></font></label>
    </div>

    <div class="" id="pic" style="background-color:lightyellow;width:100%;">
        <h1>图片图片图片...</h1>
    </div>
</div>

@*<script type="text/javascript">
			$(document).ready(function() {

				$('.form_datetime').datetimepicker({
					//language:  'fr',
					weekStart: 1,
					todayBtn: 1,
					autoclose: 1,
					todayHighlight: 1,
					startView: 2,
					forceParse: 0,
					showMeridian: 1
				});
			});
</script>*@
