{#{% extends "shared/_Layout_Mapper_test.html" %}#}
{%  extends "shared/_Layout_Mapper.html" %}
{% block title %}地图绘制
{% endblock %}
{% block top-js %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/map/leaflet.css" />
    <link rel="stylesheet" href="/static/css/map/style.css" media="all" />
    <script type="application/javascript" src="/static/js/map/leaflet.js"></script>
    <script type="application/javascript" src="/static/js/ko/jquery.livequery.js"></script>
    <script type="application/javascript" src="/static/js/ko/knockout.multimodels-0.1.js"></script>
    <script type="application/javascript" src="/static/js/viewmodel/Forecast/ElementContentMenu.js"></script>
     <script type="application/javascript" src="/static/js/viewmodel/map/RectangleMeasureViewModel.js"></script>
    <style type="text/css">
        .row-margin-top {
            margin-top: 10px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
        }

        .col-padding-2 {
            padding-left: 2px;
            padding-right: 2px;
        }

        .col-padding-left-2 {
            padding-left: 2px;
        }
        .Nodistance{
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom:0px;
            padding-top:0px;
        }
    </style>

    <script type="application/javascript">
        var rectangleMeasureViewModel = new RectangleMeasureViewModel();
        var elementViewModel=new ElementViewModel();
        var toUrl="Forecast/produceImg";
        $(function () {

            {#            ko.applyBindings(elementViewModel,document.getElementById("editForm"));#}
            ko.attach("RectangleMeasureViewModel",rectangleMeasureViewModel);
            ko.attach("ElementViewModel",elementViewModel);
            {#            ko.att#}
            {#                        ko.attach(rectangleMeasure,document.getElementById("editForm"));#}
            {#                        ko.attach(elementViewModel,document.getElementById("editForm"));#}
            {#         ko.applyBindings(rectangleMeasure);#}

            $("#rectangleSel").unbind('click').bind('click', function() {
                //          	mousedown 按下鼠标按键时触发
                //          	mouseup 按下鼠标时触发
                //				contextmenu 鼠标右键时触发
//					map.on 打开对于某个事件的监听
//					map.off 关闭对于某个事件的监听
                map.on('mousedown', rectangleMeasureViewModel.mousedown).on('mouseup', rectangleMeasureViewModel.mouseup).on('contextmenu', rectangleMeasureViewModel.forbidRegion);
            });

// console.log(map);
        });

        function doSubmit(){
            var finialViewModel={
                rectangleMeasureViewModel:rectangleMeasureViewModel.getData(),
                elemenetViewModel:elementViewModel.getData()
            };
            //序列化
{#            var myFormData= finialViewModel.toJSON();#}
            var myFormData=JSON.stringify(finialViewModel);
            //使用POST方式



            $.ajax({
                type: "POST",
                url:toUrl,
                processData: true,
                dataType: "json",
                data:myFormData,
{#                data: { name: "John", time: "2pm" },#}
                success: function(data) {
                    //若state为1则为成功
                    if(data.state == "1") {
                        //获取img的url
                        var img_url= data.imgurl;
                        $("#returnimg").attr('src',img_url);
                        //显示modal框
                        showme();
                    }
                }
            });
        }


    </script>
{% endblock %}
{% block content %}
    <div id="content" class="col-md-10 Nodistance">
        {#    	<div class="container">#}
        <!--上面的菜单栏-->
        <div class="col-md-12 Nodistance">
            <div class="panel panel-primary " style="margin-bottom: 0px;">
                <div class="panel-heading">预报信息</div>
                <div class="panel-body" style="padding:2px">
                    {#                    <div action="/home" method="post" class="form-horizontal col-md-12">#}
                    <div class="form-horizontal col-md-12">
                        <!--<form action="/home" id="editForm" method="post">-->
                        <form  id="editForm">
                            <!--基础信息-->
                            <div class="form-group col-md-2">
                                <fieldset>
                                    <legend>基础信息</legend>

                                    <div class="form-group" style="margin-bottom:2px">
                                        <div class="col-md-5 col-padding-2">
                                            <label class="col-md-12 control-label">时间</label>
                                        </div>
                                        <div class="col-md-7 col-padding-left-2">
                                            <select id="drops" class="form-control" name="date">
                                                <option value="00" selected>00时</option>
                                            </select>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                            <!--区域信息-->
                            <div class="form-group col-md-4" data-model="RectangleMeasureViewModel">
                                <fieldset>
                                    <legend>预报区域</legend>
                                    <div class="form-group">
                                        <div class="col-md-2" style="padding:4px">
                                            <label class="col-md-12 control-label col-padding-2">经度</label>
                                        </div>
                                        <div class="col-md-3 col-padding-2">
                                            {#                                            <input type="text" placeholder="起始" name="lon_start" class="form-control ">#}
                                            <input type="text" placeholder="起始" name="lon_start" data-bind="value:formattedStartLat" class="form-control ">
                                        </div>
                                        <div class="col-md-3 col-padding-2">
                                            {#                                            <input type="text" placeholder="结束" name="lon_finish" class="form-control">#}
                                            <input type="text" placeholder="结束" name="lon_finish" data-bind="value:formattedFinishLat" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <!--<button class="btn btn-primary col-md-12">常用区域</button>-->
                                            <!--注意此处在Button外侧不用再套一个div 因为会默认有一个padding-->
                                            <!--<div class="btn-group col-md-12">-->
                                            <button type="button" class="btn btn-primary dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                常用区域 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">北海</a>
                                                </li>
                                                <li>
                                                    <a href="#">东海</a>
                                                </li>
                                                <li>
                                                    <a href="#">南海</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#">其他</a>
                                                </li>
                                            </ul>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:2px">
                                        <div class="col-md-2" style="padding:4px">
                                            <label class="col-md-12 control-label col-padding-2">纬度</label>
                                        </div>
                                        <div class="col-md-3 col-padding-2">
                                            {#                                            <input type="text" placeholder="起始" name="lat_start" class="form-control col-md-4">#}
                                            <input type="text" placeholder="起始" name="lat_start" class="form-control col-md-4" data-bind="value:formattedStartLng">
                                        </div>
                                        <div class="col-md-3 col-padding-2">
                                            {#                                            <input type="text" placeholder="结束" name="lat_finish" class="form-control col-md-4">#}
                                            <input type="text" placeholder="结束" name="lat_finish"  data-bind="value:formattedFinishLng" class="form-control col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                            {#                                            <button class="btn btn-success col-md-12" id="rectangleSel">框选区域</button>#}
                                            {#                                            <button type="button" class="btn btn-success col-md-12" id="rectangleSel" onclick="doSubmit()">#}
                                            <button type="button" class="btn btn-success col-md-12" id="rectangleSel">
                                                框选区域
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <!--预报信息-->
                            <div class="form-group col-md-3" data-model="ElementViewModel">
                                <fieldset>
                                    <legend>预报信息</legend>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-12 control-label">预报要素</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select name="element" class="form-control" data-bind="options:ElementList,
					optionsText:'Name',
					optionsValue:'Id',
					value:Element,
					optionsCaption:'要素'">
                                                <!--<option value="1">一</option>-->
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group" style="margin-bottom:2px">
                                        <div class="col-md-6">
                                            <label class="col-md-12 control-label">预报层级</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select name="level" class="form-control" data-bind="options:CurrentLevelList,
					optionsText:'Name',
					optionsValue:'Id',
					value:Level,
					optionsCaption:'层级'">
                                            </select>

                                        </div>

                                    </div>
                                </fieldset>
                            </div>

                            <!--绘图按钮-->
                            <div class="form-group col-md-2">
                                <fieldset>
                                    <legend>操作</legend>
                                    <div class="form-group" action="/home" method="post" style="">
                                        <div class="col-md-3 col-padding-2" style="">
                                            <label class=" control-label col-padding-2">时效</label>
                                        </div>
                                        <div class="col-md-7 col-padding-2">
                                            <select name="interval" class="form-control" data-bind="options:CurrentIntervalList,
					optionsText:'Name',
					optionsValue:'Id',
					value:Interval,
					optionsCaption:'时效'">
                                            </select>
                                        </div>
                                    </div>

                                    <!--<div class="form-group" action="/home" method="post">-->
                                    <div class="form-group">
                                        <!--备份-->
                                        <!--<button class="btn btn-danger col-md-10" type="submit" onclick="doSubmit" style="">绘图</button>-->
                                        <button type="button" class="btn btn-primary col-md-10" onclick="doSubmit()">
                                            绘图
                                        </button>
                                    </div>
                                </fieldset>

                            </div>

                        </form>
                    </div>
                </div>
                <!--<div class="panel-footer">页脚</div>-->
            </div>
        </div>
        <!--中间的导航栏-->
        <div class="col-md-12 Nodistance">
            <nav class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">位置</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#"><span class="glyphicon glyphicon-map-marker
"></span>全图 <span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-screenshot"></span>漫游</a>
                            </li>
                            <li>
                                <a href="#">西太平洋</a>
                            </li>
                            </li>
                            <li>
                                <a href="#">北印度洋</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-zoom-in"></span>放大</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-zoom-out"></span>缩小</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-fluid -->
            </nav>

        </div>
        <!--下部的巨幕-->
        <div class="col-md-12 Nodistance" style="">
            <div class="jumbotron Nodistance" style="height:600px">
                <div id="leafletMap" style="height:100%" ></div>

            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">标题1</h4>
                    </div>
                    <div class="modal-body">
                        <img id="returnimg" src="" class="img-responsive">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom-js %}
    <script type="application/javascript" src="/static/js/map/leaflet_maplayer.js"></script>
    <script type="application/javascript">
        //使用ko的方式进行绑定，使用js的方式声明对象
        {#function RectangleMeasureViewModel() {#}
        {#            var self = this;#}
        {#            self.startPoint = null;#}
        {#            self.endPoint = null;#}
        {#            self.rectangle = null;#}
        {#            self.tips = null;#}
        {#            self.layer = L.layerGroup();#}
        {#            self.startlat = ko.observable(0);#}
        {#            self.startlng = ko.observable(0);#}
        {#            self.finishlat = ko.observable(0);#}
        {#            self.finishlng = ko.observable(0);#}
        {#            self.color = "#B92C28";#}
        {#            self.isDrawing=ko.observable(false);#}
        {#            self.addRectangle = function() {#}
        {#                self.destory();#}
        {#                var bounds = [];#}
        {#                bounds.push(self.startPoint);#}
        {#                bounds.push(self.endPoint);#}
        {#                self.rectangle = L.rectangle(bounds, {#}
        {#                    color: self.color,#}
        {#                    weight: 1#}
        {#                });#}
        {#                self.rectangle.addTo(self.layer);#}
        {##}
        {#                var northWestPoint = self.rectangle.getBounds().getNorthWest(),#}
        {#                    northEastPoint = self.rectangle.getBounds().getNorthEast(),#}
        {#                    southEastPoint = self.rectangle.getBounds().getSouthEast();#}
        {#                var width = northWestPoint.distanceTo(northEastPoint) / 1000,#}
        {#                    height = northEastPoint.distanceTo(southEastPoint) / 1000;#}
        {#        //					console.log("宽", width);#}
        {#        //					console.log("高", height);#}
        {#        //					var area = Number(width) * Number(height);#}
        {#        //					self.addTips(area.toFixed(3));#}
        {#                self.layer.addTo(map);#}
        {#            };#}
        {#            self.addTips = function(area) {#}
        {#                console.log('面积:' + area);#}
        {#                self.tips = L.circleMarker(self.endPoint, {#}
        {#                    color: self.color#}
        {#                });#}
        {#                self.tips.setRadius(1);#}
        {#                //rectangleMeasure.tips.bindLabel("面积：" + area + "(平方公里)", {noHide: true, direction: 'right', clickable: true, className: "leaflet-label-tffq"});#}
        {#                self.tips.addTo(self.layer);#}
        {#            };#}
        {#            self.mousedown = function(e) {#}
        {#                if(self.isDrawing==true){#}
        {#                    self.clearRectangle();#}
        {#                    return;#}
        {#                }#}
        {#                self.isDrawing=true;#}
        {#                self.rectangle = null;#}
        {#                self.tips = null;#}
        {#                //map.dragging=false;#}
        {#                map.dragging.disable();#}
        {#                self.startPoint = e.latlng;#}
        {#                self.startlat(self.startPoint["lat"]);#}
        {#                self.startlng(self.startPoint["lng"]);#}
        {#                map.on('mousemove', self.mousemove)#}
        {#            };#}
        {#            self.mousemove = function(e) {#}
        {#                self.endPoint = e.latlng;#}
        {#                self.finishlat(self.endPoint["lat"]);#}
        {#                self.finishlng(self.endPoint["lng"]);#}
        {#                self.addRectangle();#}
        {#                //关闭关于mousedown的监听#}
        {#                //开启对mouseup的监听#}
        {#                map.off('mousedown ', self.mousedown).on('mouseup', self.mouseup);#}
        {#            };#}
        {#            self.mouseup = function(e) {#}
        {#                self.close();#}
        {#                //地图设置为可拖拽的#}
        {#                //map.dragging=true;#}
        {#                map.dragging.enable();#}
        {#                map.off('mousemove', self.mousemove).off('mouseup', self.mouseup).off('mousedown', self.mousedown);#}
        {#            };#}
        {#            self.destory = function() {#}
        {#                if(self.rectangle)#}
        {#                    self.layer.removeLayer(self.rectangle);#}
        {#                if(self.tips)#}
        {#                    self.layer.removeLayer(self.tips);#}
        {#            };#}
        {#            self.close = function() {#}
        {#                //              var lab = rectangleMeasure.tips.getLabel();#}
        {#                //              var tt = document.createTextNode(rectangleMeasure.tips.getLabel()._content);#}
        {#                //              lab._container.innerHTML = "";#}
        {#                //              lab._container.appendChild(tt);#}
        {#                //              var span = document.createElement("span");#}
        {#                //              span.innerHTML = "【关闭】";#}
        {#                //              span.style.color = "#00ff40";#}
        {#                //              lab._container.appendChild(span);#}
        {#                //              L.DomEvent.addListener(span,"click",function(){#}
        {#                //                  rectangleMeasure.destory();#}
        {#                //              });#}
        {#            }#}
        {#            //鼠标点击右键时执行#}
        {#            //1、关闭框选操作；2、鼠标可以漫游#}
        {#            self.forbidRegion = function(e) {#}
        {#                alert("点击鼠标右键");#}
        {#                self.clearRectangle();#}
        {#        //					self.rectangle.remove();#}
        {##}
        {#            }#}
        {#            //清除当前的矩形#}
        {#            self.clearRectangle=function(){#}
        {#                self.isDrawing=false;#}
        {#                self.rectangle.remove();#}
        {#            }#}
        {#        }#}
        {#   #}
    </script>
{% endblock %}
