################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NFMS/Ioc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NFMS/Ioc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NFMS/Ioc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NFMS/Ioc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NFMS/NFMS/bin/Antlr3.Runtime.dll
/NFMS/NFMS/bin/BaseExpand.dll
/NFMS/NFMS/bin/EntityFramework.SqlServer.dll
/NFMS/NFMS/bin/EntityFramework.dll
/NFMS/NFMS/bin/Json.NET.Web.dll
/NFMS/NFMS/bin/Microsoft.AspNet.Identity.Core.dll
/NFMS/NFMS/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/NFMS/NFMS/bin/Microsoft.AspNet.Identity.Owin.dll
/NFMS/NFMS/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/NFMS/NFMS/bin/Microsoft.Owin.Host.SystemWeb.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.Cookies.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.Facebook.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.Google.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.OAuth.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.Twitter.dll
/NFMS/NFMS/bin/Microsoft.Owin.Security.dll
/NFMS/NFMS/bin/Microsoft.Owin.dll
/NFMS/NFMS/bin/Microsoft.Web.Infrastructure.dll
/NFMS/NFMS/bin/MySql.Data.dll
/NFMS/NFMS/bin/NFMS.BLL.dll
/NFMS/NFMS/bin/NFMS.DALFactory.dll
/NFMS/NFMS/bin/NFMS.DALMYSQL.dll
/NFMS/NFMS/bin/NFMS.IBLL.dll
/NFMS/NFMS/bin/NFMS.IDAL.dll
/NFMS/NFMS/bin/NFMS.Model.dll
/NFMS/NFMS/bin/NFMS.ViewModel.dll
/NFMS/NFMS/bin/Newtonsoft.Json.dll
/NFMS/NFMS/bin/Owin.dll
/NFMS/NFMS/bin/System.Diagnostics.Tracing.dll
/NFMS/NFMS/bin/System.Runtime.InteropServices.dll
/NFMS/NFMS/bin/System.Runtime.dll
/NFMS/NFMS/bin/System.Web.Helpers.dll
/NFMS/NFMS/bin/System.Web.Mvc.dll
/NFMS/NFMS/bin/System.Web.Optimization.dll
/NFMS/NFMS/bin/System.Web.Razor.dll
/NFMS/NFMS/bin/System.Web.WebPages.Deployment.dll
/NFMS/NFMS/bin/System.Web.WebPages.Razor.dll
/NFMS/NFMS/bin/System.Web.WebPages.dll
/NFMS/NFMS/bin/WebGrease.dll
/NFMS/NFMS/obj/Debug/NFMS.csproj.FileListAbsolute.txt
/NFMS/NFMS/obj/Debug/NFMS.csprojResolveAssemblyReference.cache
/NFMS/NFMSDALFactory/bin/Debug/EntityFramework.dll
/NFMS/NFMSDALFactory/bin/Debug/EntityFramework.xml
/NFMS/NFMSDALFactory/bin/Debug/Microsoft.Web.Infrastructure.dll
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALFactory.dll
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALFactory.dll.config
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALFactory.pdb
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALMYSQL.dll
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALMYSQL.dll.config
/NFMS/NFMSDALFactory/bin/Debug/NFMS.DALMYSQL.pdb
/NFMS/NFMSDALFactory/bin/Debug/NFMS.IDAL.dll
/NFMS/NFMSDALFactory/bin/Debug/NFMS.IDAL.dll.config
/NFMS/NFMSDALFactory/bin/Debug/NFMS.IDAL.pdb
/NFMS/NFMSDALFactory/bin/Debug/NFMS.Model.dll
/NFMS/NFMSDALFactory/bin/Debug/NFMS.Model.dll.config
/NFMS/NFMSDALFactory/bin/Debug/NFMS.Model.pdb
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Helpers.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Helpers.xml
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Mvc.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Mvc.xml
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Razor.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.Razor.xml
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.Deployment.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.Deployment.xml
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.Razor.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.Razor.xml
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.dll
/NFMS/NFMSDALFactory/bin/Debug/System.Web.WebPages.xml
/NFMS/NFMSDALFactory/bin/Debug/T4MVCExtensions.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/EntityFramework.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.Helpers.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.Mvc.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.Razor.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.WebPages.Razor.resources.dll
/NFMS/NFMSDALFactory/bin/Debug/zh-Hans/System.Web.WebPages.resources.dll
/NFMS/NFMSDALFactory/obj/Debug/NFMS.DALFactory.csproj.FileListAbsolute.txt
/NFMS/NFMSDALFactory/obj/Debug/NFMS.DALFactory.csprojResolveAssemblyReference.cache
/NFMS/NFMSDALFactory/obj/Debug/NFMS.DALFactory.dll
/NFMS/NFMSDALFactory/obj/Debug/NFMS.DALFactory.pdb
/NFMS/ViewModel/bin/Debug/NFMS.ViewModel.dll
/NFMS/ViewModel/bin/Debug/NFMS.ViewModel.pdb
/NFMS/ViewModel/obj/Debug/CoreCompileInputs.cache
/NFMS/ViewModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NFMS/ViewModel/obj/Debug/NFMS.ViewModel.csproj.FileListAbsolute.txt
/NFMS/ViewModel/obj/Debug/NFMS.ViewModel.csprojResolveAssemblyReference.cache
/NFMS/ViewModel/obj/Debug/NFMS.ViewModel.dll
/NFMS/ViewModel/obj/Debug/NFMS.ViewModel.pdb
/NFMS/ViewModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NFMS/ViewModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NFMS/ViewModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/bt_UI/NFMS_UI/mosic.rar
/bt_UI/NFMS_UI/mosic
/NFMSbyDjango/static/img/mosic
NFMSbyDjango/.idea/workspace.xml
