<!--左侧胶囊导航栏-->
<div id="nav_left" class="col-md-2" style="padding-left: 0px;">
    <ul id="ul_nav" class="nav nav-pills nav-stacked navbar-inverse ">
        <li>
            <div class="input-group"><input type="text" class="form-control"/><span class="input-group-btn"><button
                    type="button" class="btn btn-default"><span class="glyphicon glyphicon-zoom-out"></span></button>
							</span>
            </div>
        </li>
        <li>
            <!--data-toggle，用于告诉 js需要对按钮做什么-->
            <!--collapse即是折叠-->
            <!--<a href="#sub1" data-toggle="collapse">系统功能</a>-->
            <!--data-target指示要切换到哪一个元素-->
            <a href="#" data-toggle="collapse" data-target="#sub1">系统功能&nbsp;
                <span class="glyphicon glyphicon-cog"></span></a>
            <ul id="sub1" class="nav collapse">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; 系统信息
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp; 管理员管理
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp; 日志信息
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp; 退出
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">栏目功能</a>
        </li>
    </ul>
</div>

<style type="text/css">
    #nav_left {
        position: fixed;
        top: 50px;
        bottom: 0px;
    }

    #ul_nav {
        /*position: absolute;*/
        height: 100%;
    }
</style>