<!DOCTYPE html>
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<script type="application/javascript" src="/static/js/jquery-1.10.2.js"></script>
		<script type="application/javascript" src="/static/js/bootstrap.min.js"></script>
		<style type="text/css">
			/*对于使用了bootstrap的navbar并固定在顶部时下面的div填充满整个屏幕的解决办法*/
			html,
			body {
				height: 100%;
				margin: 0px;
				padding: 0px;
				background-color: #BBBBBB;
				padding-top: 25px;
			}

			#main {
				height: 100%;
			}

			#nav {
				height: 100%;
				background: #00B83F;
			}

			#content {
				background-color: #F5E79E;
				height: 100%;
			}
			#ul_nav{
				position: absolute;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="margin-bottom: 0px;">
			<div class="navbar-header" id="my_navbar">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
				<a class="navbar-brand" href="#">网站后台管理</a>
			</div>
		</nav>
		<div id="main" style="">
            {% block body %}
            {% endblock %}



		</div>

	</body>

</html>