{% extends "_Layout.html" %}

{% block body %}

    {% block bottom-js %}
 <script type="text/javascript">
        <script type="text/javascript">
        function ViewModel(model) {
            var self = this;
            //self.menuItems = ko.observableArray(model);
        }
        $(function () {
            var viewModel = new ViewModel(@BaseExpand.HtmlHelper.HtmlConvert2Json(Model))
            var myviewModel = { actions: @BaseExpand.HtmlHelper.HtmlConvert2Json(Model) };
            ko.applyBindings(myviewModel);
        })
    </script>
{% endblock %}
{% include "_Partial_Navbar_Menu.html" %}
<!--<div class="container">-->
<div id="mypage" class="page-main" style="background:#FFFFFF;height:100%;">
    <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
        {% block body %}
            {% endblock %}
    </div>
</div>
{% endblock %}